html {
  font-size: 62.5%;
}

main {
  margin: 0 5rem;
}

.hide {
  display: none;
}

.nav__bar {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  justify-content: space-between;
  background-color: rgb(193, 255, 193);
}

.nav__bar__title {
  padding: 0 2rem;
}

.nav__bar__div {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 3rem;
}

.nav__bar__icon {
  width: 2.5rem;
}

.nav__bar__icon:hover {
  cursor: pointer;
}

.nav__bar__icon__number {
  background-color: rgb(32, 255, 32);
  font-size: 2rem;
  text-align: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.shop__list {
  background-color: rgb(157, 247, 157);
}

.shop__list {
  list-style: none;
  padding: 1rem;
}

.arrow {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
}

.arrow:hover {
  cursor: pointer;
}

.item__quantity {
  margin-left: 1rem;
  margin-right: 1rem;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.item__quantity__div {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1rem 1rem;
  border-radius: 2rem;
}

.btn__add {
  background-color: rgb(32, 255, 32);
}

.btn__add:hover {
  background-color: rgb(17, 214, 17);
}

.btn__delete {
  background-color: rgb(241, 115, 115);
}

.btn__delete:hover {
  background-color: rgb(230, 74, 74);
}

.btn:hover {
  cursor: pointer;
}

.overlay {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(193, 255, 193);
}

.shopping__cart {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.2rem solid rgb(17, 214, 17);
}

.cart__icon {
  width: 40rem;
  height: 40rem;
  max-height: 50rem;
  max-width: 50rem;
  border-right: 1.2rem solid rgb(17, 214, 17);
}

.cart__list {
  max-width: 50rem;
  width: 50rem;
  font-family: sans-serif;
}

.shopping__cart ul {
  list-style: none;
  padding: 0;
}

.cart__title {
  text-align: center;
}

.shopping__cart h2 {
  text-align: center;
  color: rgb(22, 187, 22);
}

.shopping__cart h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
